<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rosas app</title>
</head>
<body>
<h1>TITEL</h1>
    <div id="container">
        <p>Which ID MAN</p>
        <textarea id="id" cols="3" rows="1" maxlength="1"></textarea>
        <button type="button" id="submit">Euclidean</button>
        <div id="result"></div>
    </div>
    
    <div id="container2">
        <p>Which ID for movie recommendation?</p>
        <textarea id="id2" cols="3" rows="1" maxlength="1"></textarea>
        <button type="button" id="submit2">Weighted score</button>
        <div id="result2"></div>
    </div>
</body>
<link rel="stylesheet" th:href="@{/css/app.css}"/>
<script type="text/javascript" th:src="@{/js/app.js}"></script>
</html>